@media(min-width: 1920px) {   
 
}
@media(min-width: 1600px) and (max-width: 1900px) {   
    
}
@media(min-width: 1440px) and (max-width: 1600px) {   
  
}
@media(max-width: 1400px) { 
    /* ===== Banner Section ===== */
    .home .home-banner-1, .home .home-banner-2{
        background-position: 65% center;
        min-height: 550px;
    }   
    .home .home-banner .home-banner-text {
        transform: translate(-85%, -50%);
    }
    .offers .offer-box .offer-info .heading-bigger{
        font-size: 3rem;
    }

    /* ===== Special Section ===== */
    .special .countdown-container .countdown-counter li{
        padding: 1.5rem 1rem;
    }
}

@media(max-width: 992px) {
    /* ===== Banner Section ===== */
    .home .home-banner .home-banner-text {
        transform: translate(-66%, -50%);
    }

    /* ===== Special Section ===== */
    .special .countdown-container{
        padding-top: 1rem;
        padding-bottom: 5rem;
    }

    /* ===== Testimonial Section ===== */
    .testimonial .carousel-control-prev{
        left: -1.75rem;
    }
    .testimonial .carousel-control-next{
        right: -1.75rem;
    }
}

@media (max-width: 767px){
    /* ===== Banner Section ===== */
    .home .home-banner-1, .home .home-banner-2{
        background-position: 50% center;
        min-height: 450px;
    }   
    .home .home-banner .home-banner-text {
        text-align: center;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .home .home-banner .home-banner-text h1{
        font-size: 3rem;
    }
    .home .home-banner .home-banner-text h2{
        font-size: 1.2rem;
    }
    .home .home-banner .home-banner-text .btn-danger{
        padding: 0.5rem 1.5rem;
    }
    .home .slider-icon{
        font-size: 1.5rem;
    }

    /* ===== Products Section ===== */
    .products .up_to_content h2{
        font-size: 0.75rem;
    }

    /* ===== Special Section ===== */
    .special{
        padding: 4rem 0;
    }
    .special .countdown-container .countdown-counter li{
        padding: 1rem;
        width: 20%;
    }

    /* ===== Testimonial Section ===== */
    .testimonial .testimonial-wrapper{
        padding: 1rem;
    }
    .testimonial .carousel-control-prev, .testimonial .carousel-control-next{
        display: none;
    }
}

@media(max-width: 575px) {
   
}

@media(max-width: 375px) {
    /* ===== Banner Section ===== */
    .home .home-banner .home-banner-text h2 {
        font-size: 1rem;
    }
}

@media(max-width: 330px) {
    /* ===== Products Section ===== */
    .products .up_to_content h2 {
        font-size: 0.625rem;
    }
}